*/*/mjkey.txt
**/.DS_STORE
**/*.pyc
**/*.swp
rlkit/launchers/config.py
rlkit/launchers/conf_private.py
MANIFEST
*.egg-info
\.idea/
data/
dsac/
environment/
eval_models/
.vscode/
videos/
wrappers/
dsac.py
sac.py
td3.py
td4.py


